@use '../helpers/index.scss' as helpers;

html {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  * {
    font-family: inherit;
  }
}

body {
  min-width: 320px;
  color: var(--slate-gray);
  font-size: 14px;
  line-height: 20px;

  @include helpers.media(sm) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.container {
  max-width: 1280px;
  margin-inline: auto;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s linear;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

// Typography
.title-lg {
  color: var(--navy-blue);
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;

  @include helpers.media(sm) {
    font-size: 30px;
    line-height: 38px;
  }
}

.title-md {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--navy-blue);

  @include helpers.media(sm) {
    font-size: 20px;
    line-height: 30px;
  }
}
