:root {
  --navy-blue: #0e3a53;
  --gray-50: #fafafa;
  --gray-200: #e9eaeb;
  --gray-300: #d5d7da;
  --gray-500: #717680;
  --gray-600: #535862;
  --gray-700: #414651;
  --gray-900: #181d27;
  --slate-gray: #495057;
  --success-100: #dcfae6;
  --vibrant-teal: #20c997;
  --citrus-orange: #ff6f3c;
}
